%h1 Contact

%h2 Mailing List

%p

  The google group
  %a{:href =>'https://groups.google.com/forum/#!forum/rubygems-openpgp'}
    rubygems-openpgp
  is available for discussion of all things remotely related to 
  rubygems-openpgp.

%h2 Issue tracker

%p

  Issues with the rubygems-openpgp gem can be reported at

  %a{:href=>"http://github.com/grant-olson/rubygems-openpgp/issues"}
    rubygems-openpgp issue tracker.

%p
  Issues with this website can be reported at

  %a{:href=>"http://github.com/grant-olson/rubygems-openpgp-ca.org/issues"}
    rubygems-openpgp-ca.org issue tracker.

%h2 Questions?  Comments?

%p 

  Feel free to shoot me an email: kgo at grant-olson dot net.  My
  OpenPGP key is 0xE3B5806F.  I always use an encryption-capable email
  client so feel free to encrypt, even if it's just for fun.

%pre
  :preserve
    pub   2048R/E3B5806F 2010-01-11 [expires: 2014-01-03]
          Key fingerprint = A530 C31C D762 0D26 E2BA  C384 B6F6 FFD0 E3B5 806F
    uid                  Grant T. Olson (Personal email) &lt;kgo at grant-olson dot net&gt;
    uid                  Grant T. Olson (pikimal) &lt;grant at pikimal dot com&gt;
    uid                  Grant T Olson &lt;grant at webkite dot com&gt;
    sub   2048R/6A8F7CF6 2010-01-11 [expires: 2014-01-03]
    sub   2048R/A18A54D6 2010-03-01 [expires: 2014-01-03]
    sub   2048R/D53982CE 2010-08-31 [expires: 2014-01-03]

%h2 Security issue?

%p Same contact info as above.

%p 

  If you need to send an encrypted email by don't have the correct
  software installed, you can use

  %a{:href => 'https://privacybox.de/grant.msg'}privacybox.

  If you do so, please include a contact email in the message.
  Also note I will be unable to reply securely.

