%h1 Ruby Gem OpenPGP Cerfificate Authority

%p Future home of experimental OpenPGP Certificate Authority

%p.warning

  NOTE: This project is experimental in nature.  This project has no
  affiliation with either the rubygems project or rubygems.org

%p

  The goal of this project is to provide:

  %ul
    %li

      A entity for users to authenticate and trust (or not) instead of
      having to authenticate hundreds of individual developers.

    %li

      %a{:href => authentication_url} Basic authentication of developers

      and their signing keys to provide some assurances
      that gems are signed by an authorized key.

    %li

      A

      %a{:href => key_security_url} secure signing process

      that prevents a malicious user from
      issuing bogus signatures on our behalf.

%h2 Getting Started...

%h3 For users

%p Download the key:

%pre gpg --keyserver pool.sks-keyservers.net --recv-keys 0x6094099A

%p Somehow authenticate the key.

%p Mark the key as trusted on their local keyring:

%pre gpg --lsign 0x6094099A

%p Verify the test gem:

%pre gem install openpgp_signed_hola --verify

%p More info here...

%h3 For developers

%p Generate a key

%p Register it with keyservers

%p sign your gem when you build it.

%p Register your key with us.

%p More info here...
